body {
	color:black;
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin:0;
	background-color: #f4f4f4;
}
	.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
	ul{
	margin: 0;
	padding: 0;
}






/* Header This section is the css style for my header which contains the navigation of my website */
header{
  background: #353637;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #c2a231 3px solid;
}
header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding{
  float: left;
}
header #branding h1{
  margin: 0;
}
header nav{
  float: right;
  margin-top: 10px;
}
header .highlight, header .current a{
  color: #c2a231;
  font-weight: bold;
}
header a:hover{
  color: #cccccc;
  font-weight: bold;
}





/* Hype, this section puts in the background image. I used the CSS function url */
#hype {
  min-height: 400px;
  background:url('images/header.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}
#hype h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
#hype p{
  font-size: 20px;
}
 #hype img{
    max-width: 100%;
    height: auto;
}







/* Membership */
#membership{
  padding: 15px;
  color: #ffffff;
  background: #353637;
}
#membership h1{
  float: left;
}
#membership form{
  float: right;
  margin-top: 15px;
}
#membership input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}
.button_1{
  height: 38px;
  background: #cccccc;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #353637;
}


/*aboutus on the homepage*/
#aboutus #side{
	float: left;
	width: 15%;
	margin-right: 5%;
	margin-left: 0%;
}
	
#aboutus #hat{
	float: left;
	width: 15%;
	margin-right: 0%;
	margin-left: 10%;
}

#aboutus #top{
	float: right;
	width: 15%;
	margin-right: 25%;
	margin-left: 1%;
}











/* Sidebar for About Page */
aside#sidebar{
  float: right;
  width: 30%;
  padding: 5px;
}
aside#sidebar .contact input, aside#sidebar .contact textarea{
  width: 90%;
  padding: 5px;
}
article#main-col{
  float: left;
  width: 65%;
}


footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #c2a231;
  text-align: center;
}


/* Food */
ul#food li{
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #32a0c2;
}
ul#food h3{
  border-bottom: #353637 solid 1px;
}





















/*MEDIA QUERIES*/

@media screen and (min-width: 599px) { 
/*mobile*/
 body {
		background: white;
 }
} 


@media screen (min-width:250px) and (max-width: 400px) { 
/*mobile*/
 body {
		background: white;
 }

} 

/*this is a media query for mobiles of larger sizes*/
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #membership h1,
  #membership form,
  #aboutus .box {
    float: none;
    text-align: center;
    width: 100%;
  }
  header{
    padding-bottom: 20px;
  }
  #hype h1{
    margin-top: 40px;
  }
/*scaling the image to make it responsive for all device sizes*/
  #hype img{
    max-width: 100%;
    max-height: 100%;
}
  #membership button {
    display: block;
    width: 100%;
  }
  #membership form input[type="email"] {
    width: 100%;
    margin-bottom: 5px;
  }
/*this section applies a different styling to the main column and sidebar on the about page*/  
  header #branding,
  header nav,
  header nav li,
  #membership h1,
  #membership form,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }
  
  [...]
/*membership form, check food page*/
#membership form input[type="email"],
  .contact input,
  .contact textarea,
  .contact label{
    width: 100%;
    margin-bottom: 5px;
  }
/*attempt to make images responsive*/
#aboutus #side{
	float: none;
    max-width: 100%;
	max-height: 100%;
}  
#aboutus #side img {
	width: 80vw;
}
#aboutus #hat {
	float: none;
	margin-left: 1px;
    max-width: 100%;
	max-height: 100%;
}	 
#aboutus #hat img {
	width: 80vw;
}
#aboutus #top {
	float: none;
    max-width: 100%;
	max-height: 100%;
} 
#aboutus #top img {
	width: 80vw;
}
}


/*vw means view widht so it will take up 80% of the width on the page 

*/
@media screen and (min-width: 600px) and (max-width: 1199) { 
/*tablet*/
 body {
		background: white;
 }
} 

@media screen and (min-width: 1200px) { 
/*desktop*/
	body {
		background: white;
		 }	 
}

