
body {
  margin:0;
  padding:0;
  background: #black;
}
header {
  background: #ccc;
  color: #444;
  text-align: center;
  color: #black;
}
h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 1em;
  color: #DAA520;
  background: black;
 
}
h2 {
  font-size: 1.5em;
}
main {
  max-width: 1000px;
  margin: 0 auto;
  background: #blue;
  text-align: center;
  padding: 2px;
  overflow: auto;
}
section {
  font-size: 1em;
  background: #888;
  width: 22%;
  margin: 1em 1% 1em 1%;
  display: inline-block;
}
section:hover {
  background: #666;
}


@media screen and (min-width: 599px) { 
/*mobile*/
 body {
		background: black;
 }
} 

@media screen and (min-width: 600px) and (max-width: 1199) { 
/*tablet*/
 body {
		background: black;
 }
} 

@media screen and (min-width: 1200px) { 
/*desktop*/
	body {
		background: black;
		 }	 
}

